#texte
{
    max-width: 1000px;
    max-height: 8000px;
    margin: 0 250px 0 250px;
    background: rgb(255 255 255 / 30%);
    border: 2px solid grey;
    box-shadow: 0px 0px 10px purple;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

input {
    text-align: center;
}

#textetarifs{
    background:rgb(230 186 5 / 9%);
    max-width: 590px;
    max-height: 8000px;
    margin: 0 40px 0 45px;
    border: 2px solid grey;
    box-shadow: 0px 0px 10px purple;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#textetarifs2{
    background:rgb(230 186 5 / 9%);
    max-width: 590px;
    max-height: 1220px;
    margin: 0 40px 0 40px;
    border: 2px solid grey;
    box-shadow: 0px 0px 10px purple;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}



.tarifs{
    display: inline-flex;
    flex-direction: column;
}

.tarifs a {
font-size: 25px;
font-weight: bold;
color:rgb(0, 0, 0);
padding-top: 15px;
padding-left: 10px;
cursor: default;
}

.tarifs p {
    font-size: 23px;
font-weight: bold;
color:rgb(0, 0, 0);
padding-top: 10px;
padding-left: 10px;
}

.tarifs h3 {
    font-size: 26px;
    font-weight: bold;
    color: rgb(255 0 0);
    padding-top: 20px;
    padding-left: 10px;
    cursor: default;
}


.tarifs a:last-child {
    margin-bottom: 5rem;
}

.tarifs span {
    color:rgb(217, 255, 161);
}

.tarifs-color {
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
}

.apropos{
    display: inline-flex;
    flex-direction: column;
}

.apropos  a {
    font-size: 30px;
    font-weight: bold;
    color:rgb(228, 228, 13);
    padding-top: 20px;
    padding-left: 5px;
    cursor: default;
}

.apropos  a:last-child {
    margin-bottom: 5rem;
}

.naturo {
    display: inline-flex;
    flex-direction: column;
}
.naturo a{
    font-size: 25px;
    font-weight: bold;
    color:rgb(89, 6, 32);
    padding-top: 20px;
    padding-left: 5px;
    cursor: default;
}

.naturo a:last-child{
    margin-bottom: 5rem;
}

.naturo p{
    font-size: 23px;
    font-weight: bold;
    color: rgb(48, 7, 92);
    padding-top: 5px;
    padding-left: 5px;
}

.images#naturo-img:last-child{
    margin-bottom: 5rem;
}



.naturo h3, .naturo h2 {
    font-size: 30px;
    font-weight: bold;
    color:rgb(89, 6, 32);
    padding-top: 20px;
    padding-left: 5px;
    margin-block-end: 0;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

.commu {
    display: inline-flex;
    flex-direction: column;
}

.commu a {
    font-size: 25px;
    font-weight: bold;
    color:rgb(2, 5, 6);
    padding-top: 15px;
    padding-left: 5px;
    cursor: default;
}

.commu h3, .commu h2 {
    font-size: 30px;
    font-weight: bold;
    color: purple;
    margin-block-end: 0;
}

.commu h3#communicatrice{
    margin-top: 0;
    margin-block-end: 1rem;
}

.commu h3:last-child {
    margin-block-end: 5rem;
}

.energie {
    display: inline-flex;
    flex-direction: column;
}

.energie a{
    font-size: 25px;
    font-weight: bold;
    color:rgb(91, 61, 0);
    padding-top: 20px;
    padding-left: 5px;
    cursor: default;
}

.energie a:last-child {
    margin-bottom: 5rem;
}

.energie p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(7, 101, 20);
    padding-top: 5px;
    padding-left: 5px;
}

.energie h2, .energie h3 {
    font-size: 30px;
    font-weight: bold;
    color:purple;
    padding-top: 20px;
    padding-left: 5px;
    margin-block-end: 0;
}

.energie h3#energie {
    padding-top: 5px;
    margin-top: 0;
    margin-block-end: 1rem;
}

a#h3-a {
    font-size: 25px;
    color: purple;
}

.energie h3:last-child {
    margin-block-end: 5rem;
}

.yogadurire {
    display: inline-flex;
    flex-direction: column;
}

.yogadurire h2, .yogadurire h3 {
    font-size: 30px;
    font-weight: bold;
    color:rgb(255 252 0);
    padding-top: 20px;
    padding-left: 5px;
    margin-block-end: 0;
}

.yogadurire a {
    font-size: 25px;
    font-weight: bold;
    color:rgb(255 224 0);
    padding-top: 20px;
    padding-left: 5px;
    cursor: default;
}

.yogadurire a:last-child {
    margin-bottom: 5rem;
}

.yogadurire p {
    font-size: 22px;
    font-weight: bold;
    color: rgb(255 252 0);
    padding-top: 10px;
    padding-left: 5px;
}

.chamanisme {
    display: inline-flex;
    flex-direction: column;
}

.chamanisme p {
    font-size: 23px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-left: 5px;
}

.chamanisme a {
    font-size: 25px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 5px;
    cursor: default;
}

.chamanisme h2, .chamanisme h3 {
    font-size: 30px;
    font-weight: bold;
    color:rgb(2, 2, 170);
    padding-top: 20px;
    padding-left: 5px;
    margin-block-end: 0;
}

.chamanisme h3#chama {
    padding-top: 0;
    margin-block-start: 0;
}

.chamanisme a:last-child {
    margin-bottom: 5rem;
}

.images {
    
    width:200px;
    height: 250px;
}

.images-energie {
    width:230px;
    height: 250px;
}


.div-img {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 10px;
}


header{
    margin: 0 auto;
}

.top-header {
    background: rgba(255,255,255,.2);
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-inline: 100px;
    padding-block: 30px;
    align-items: center;
    border: none;
}

.top-header .name{
    color: blueviolet;
    font-style: oblique;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    position: relative;
}

.name{
    position: relative;
}
.content-top{
    display:contents;
}
.logo{
    position: relative;
    max-width: 320px;
    max-height: 320px;
}

body#accueil{
    background-origin:border-box;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../assets/images/isasourire.webp);
    background-attachment:fixed;
    background-position:bottom;
    background-size:cover;
    margin: 0;
    padding: 0;
    z-index: -10;
    height: fit-content;
    filter: drop-shadow(2px 4px 6px black);
}
body#naturopathie{
    background-origin: border-box;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../assets/images/violette.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -10;
    height: fit-content;
    filter: drop-shadow(2px 4px 6px black);
}

body#communicationanimale{
    background-origin: border-box;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../assets/images/ChatChien.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -10;
    height: fit-content;
    filter: drop-shadow(2px 4px 6px black);
}

body#tarifs{
background:linear-gradient(to bottom, rgb(238, 255, 1), rgb(59, 12, 161));
margin: 0;
padding: 0;
z-index: -10;
height: fit-content;
filter: drop-shadow(2px 4px 6px black);
}

body#yogadurire{
    background-origin: border-box;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../assets/images/rire.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -10;
    height: fit-content;
    filter: drop-shadow(2px 4px 6px black);
}

body#chamanisme{
    background-origin: border-box;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../assets/images/chama.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -10;
    height: fit-content;
    filter: drop-shadow(2px 4px 6px black);
}

body#énergétique{
    background:linear-gradient(to bottom right, rgb(168, 88, 253), rgb(111, 252, 139));
    margin: 0;
    padding: 0;
    z-index: -10;
    height: fit-content;
    filter: drop-shadow(2px 4px 6px black);
}

.box{
    position: relative;
    max-width: 800px;
    padding:50px;
    background: rgba(255,255,255,.2);
}
.section-onglet{
    position: relative;
    display: flex;
    justify-content: space-around;
    background: rgba(255,255,255,.2);
    border: 2px solid grey;
    box-shadow: 0px 0px 10px purple;
    border-radius: 2rem;
}

.onglet{
    display: flex;
    position: relative;
}

.onglet a {
    position: relative;
    display: inline-flex;
    font-size: 25px;
    text-decoration:none;
    cursor: pointer;
    color: rgb(0, 52, 224);
    font-weight: bold;
}

a{
    text-decoration: none;
    color:  black;
    cursor: pointer;
}

#comments_container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 250px 0 250px;
    padding-bottom: 2rem;
}

#comments_container h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-block-end: 0;
}

#comments_container form  {
    margin: 3rem auto 65px;
    max-width: 30%;
    padding: 0rem 7rem 0.8rem;
    background: rgba(255, 255, 255, .2);
    border: 2px solid grey;
    box-shadow: 0px 0px 10px purple;
    border-radius: 2rem;
    text-align: center;
}

#comments_container form div {
    display: flex;
    outline: none;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

#comments_container form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 25px;
}

#comments_container form div input {
    border-radius: 2rem;
    border: none;
    padding-block: 16px;
    font-size: 16px;
    min-width: 320px;
}

#comments_container form div textarea {
    font-size: 19px;
    border: 1px inset #c8c8c8;
    outline: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-block: 16px;
    min-width: 320px;
}


#comments_container form button {
    font-size: 16px;
    font-weight: bold;
    width: -webkit-fill-available;
    border: 1px outset #92009c;
    background-color: #92009c;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 15px;
}

#comments_container form button:hover {
    background-color: #890293;
    outline: none;
}

#comments_container form button:active {
    background-color: #74027c;
    box-shadow: none;
    outline: none;
}

#comments_display {
    margin: 0 250px 0 250px;
}

#comments_display article {
    background: rgb(255 255 255 / 38%);
    box-shadow: 0px 0px 10px purple;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 10px;
}

#comments_display article p:last-child {
    font-size: 20px;
}

#comments_display article p:first-child {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}

.section-contact{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 250px 0 250px;
    padding-bottom: 2rem;
}

.section-contact h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-block-end: 0;
}

.contact-form {
    margin: 3rem auto 65px;
    max-width: 30%;
    padding: 0rem 7rem 0.8rem;
    background: rgba(255,255,255,.2);
    border: 2px solid grey;
    box-shadow: 0px 0px 10px purple;
    border-radius: 2rem;
    text-align: center;
}

.form-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.label-contact {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 25px;
}

.input-contact {
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
    padding-block: 16px;
    font-size: 16px;
    min-width: 320px;
}

.input-contact::placeholder, textarea::placeholder {
    text-align: center;
}

.select-contact {
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
    text-align: center;
    padding-block: 16px;
    min-width: 320px;
}

.message-contact {
    font-size: 19px;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
    text-align: center;
    padding-block: 16px;
    min-width: 320px;
}

.button-contact {
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    margin: 1rem 3rem 0 3rem;
    padding-block: 20px;
    min-width: 185px;
    font-weight: bold;
    font-size: 15px;
}

.button-contact:hover {
    background-color: purple;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgba(110, 90, 90, 0.442);
}

.footer-text,
.footer-iconTop {
    display: block;
    position: relative;
}

.footer-text p,.footer-text a {
    display: flex;
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: black;
    border: .2rem solid white;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:grey;
    z-index: -1;
    transition: .5s;

}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color:white;
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: red;
}

@media (max-width:1305px){
    .top-header .name{
        font-size: 60px;
    }
    .logo{
        max-width: 255px;
        max-height: 255px;
    }
}
@media (max-width:1200px){
    .onglet a {
        font-size: 20px;
    }
    .top-header .name{
        font-size: 50px;
    }
    #texte, .section-contact, #textetarifs2 {
        margin: 0 40px 0 40px;
    }
    #textetarifs2 {
        
        max-height: 1415px ;
    }
    #textetarifs{
    max-width: 375px;
    }

}

@media (max-width:1095px){
    .top-header .name{
        font-size: 40px;
    }
}

@media (max-width:990px){
    .top-header .name{
        font-size: 39px;
    }
    #comments_display article p:last-child {
        font-size: 16px;
    }
    
    #comments_display article p:first-child {
        font-size: 18px;
    }
}
@media (max-width:990px){
    #textetarifs2{
        max-height: 1510px;
    }
}